/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 nov. 2022, 10:16:52
    Author     : mamad
*/

*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    background: url('../images/banniere.png') no-repeat scroll center 10px;
    height: 295px;
    align-items: center;
}
nav{
    display: flex;
   margin-top: 200px;
    /*float: left; */ /*Remplacé*/
    
}
nav li{
    display: inline;
    font-size: 30px;
    
}
nav li a{
    padding: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
}
nav li a:hover{
    color: black; 
    background-color: white;
}
footer{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: midnightblue;
    align-items: center;
    justify-content: center;
}
/*reste à s'occuper du 'footer'*/

/******************Fin Style Commun*/


#casques{
    margin: 0 200px 0 280px;
    display: block;
    
}
Body{
    /*display: flex;
    flex-direction: column;*/
    
}
#casques article{
    float: left;
    width: 157px;
    height: 275px;
    margin: 10px;
    padding: 5px;
    border: white thin solid;
}
#casques article:hover{
    border: #bbb thin solid;
}
#casques p{
    margin: 0;
}
#casques .prix{
    font-weight: bold;
    color: red;
}
#casques .marque{
    text-transform: uppercase;
    text-align: left;
    color: black;
    font-family: 'fuse';
    font-size: xx-large;
    
}
#casques .modele{
    text-transform: capitalize;
    color: black;
}
#casques .stock{
    float: right;
    text-transform: uppercase;
    padding: 2px;
    top: 10px;
    right: 10px;
    background-color: chartreuse;
}
#casques .stockko{
    float: right;
    text-transform: uppercase;
    padding: 2px;
    top: 10px;
    right: 10px;
    background-color: red;
}
[data-tip]{
    position: relative;
    cursor: help;
}
[data-tip]:hover:after{
    text-transform: none;
    content: attr(data-tip);
    position: absolute;
    top: 20px;
    left: 10px;
    white-space: nowrap; /*Pas de retour à la ligne dans l'infobulle'*/
    padding: 5px;
    background:fuchsia;
    color: #fff;
}
#casques .classement{
    margin: 10px auto 0 36px;
    background: scroll transparent url(images/etoiles.gif) no-repeat;
    width: 164px;
    height: 18px;
}
#casques .classement .classement05{
    background-position: 0 -18px;
}
#casques .classement .classement10{
    background-position: 0 -36px;
}
#casques .classement .classement15{
    background-position: 0 -54px;
}
#casques .classement .classement20{
    background-position: 0 -72px;
}
#casques .classement .classement25{
    background-position: 0 -90px;
}
#casques .classement .classement30{
    background-position: 0 -108px;
}
#casques .classement .classement35{
    background-position: 0 -126px;
}
#casques .classement .classement40{
    background-position: 0 -144px;
}
#casques .classement .classement45{
    background-position: 0 -162px;
}
#casques .classement .classement50{
    background-position: 0 -180px;
}
#casques .classement .classement55{
    background-position: 0 -192px;
}
#casques .classement .classement60{
    background-position: 0 -206px;
}
#casques .classement .classement65{
    background-position: 0 -216px;
}
#casques .classement .classement70{
    background-position: 0 -232px;
}
#casques .classement .classement75{
    background-position: 0 -246px;
}
#video{
    margin-left: 305px;
}
#video article{
    float: left;
    width: 450px;
    height: 270px;
}
#video article img{
    float: left;
}
@media (max-width:800px) and(max-width:900px){
    body, #casques article p.marque{
        font-size: 15pt;
        font-family: serif;
    }
    header,nav,footer,#video,#casques article div.classement{
        display: none;
    }
    #casques article{
        width: 100%;
        height: 140px;
        margin: 0;
    }
    #casques article img{
        float: left;
    }
    #casques article p.prix,
    #casques article p.marque,
    #casques article p.modele,
    #casques article p.stockko,
    #casques article p.stock{
        float: left;
        padding: 58.5px 10px;
    }
    #casques article p.stock,
    #casques article p.stockko{
        background-color: transparent;
        width: 200px;
    }
    #casques article p.modele{
        width: 330px;
    }
}